

body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}


header{
    position: fixed;
    top: 0;
    height: 69px;   
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
}
header img{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px ;
    margin: 10px;
}
nav{
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 100%;
}
nav a{
    text-decoration: underline;
    margin: auto 10px
}
a:visited{
    color: seashell;
}


#our-mission{
    display: flex;
    margin: auto;
    position: relative;
    top: 69px;
    z-index: -1;
    height: 700px;
    width: 1200px;
    background-image:url(./images/img-mission-background.webp);
    align-items: center;
    margin-bottom: 1rem;
}
#mission-text{
    background-color: black;
    width: 100%;
    line-height: 1px;
}
#mission-text h2{
    padding-bottom: 15px;
}

#month-tea{
    margin: 100px;
}
#tea-grid{
    display: flex;
    width: 1000px;
    justify-content:space-around;
    margin: 0 auto ;
    flex-wrap: wrap;
    align-items: center;
}
#tea-img img{
    height: 200px;
    width: 300px;
    margin: 0;
    border-radius: 10px;
}
#tea-img h4{
    line-height: 0;
    margin-top: 10px;
}

#locations{
    background-image: url(./images/img-locations-background.jpg);
    height: 700px;
    width: 1200px;
    margin: auto;

}
#locations h2{
    position: relative;
    top: 10%;
    margin-bottom: 15px;
}
#shops{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#shops div{
    background-color: black;
    border-radius: 5px;
    margin: 40px;
    height: 300px;
    width: 300px;
}

footer{
    height: 200px;
}
#copyright{
    position:relative;
    text-align: left;
    margin: 0;
    margin-left: 20px;
}